# Rust
/backend/target/
/backend/Cargo.lock

# rust-analyzer
/target/rust-analyzer

# Node.js
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/*.log

# OS / IDE specific
.DS_Store
.vscode/